<div class="dashboardContainer">

    <div class="bread-crumb"><span class="style-cursor-pointer" ng-click="redirectTo('dashboard-non-ppedd-sr')">Dashboard</span></div>

    <!-- <div class="page-head">Dashboard</div> -->
    <div class="app-name">Launch page (For demo purpose)</div>
    <br>
    <div class="page-content">
        <ul>
            <li><a href="#/authenticate/ppedd/ED4">PPEDD Dashboard - ED4</a></li>
            <li><a href="#/authenticate/non-ppedd/MGR4">Non PPEDD Dashboard Manager - MGR4</a></li>
            <li><a href="#/authenticate/non-ppedd/INTERN4">Non PPEDD Dashboard Intern - INTERN4</a></li>
        </ul>
    </div>
    
    <footer></footer>
</div>