<div class="hero logout-banner fullscreen background parallax" data-img-width="1920" data-img-height="460" data-diff="80">
    <div class="lead-board">
        <div class="lead-board-left-spacing">
            <div class="lead-board-ey-logo-mobile"><img src="content/icons/EY_logo_img.png" /></div>
            <div class="lead-board-heading">LEAD</div>
            <div class="lead-board-description">The gold standard for partner performance & development</div>
            <div class="lead-board-partner-info">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="block-content-main">
        
        <!--ng-if="!session.userModel.isContractor"-->
        <div class="row">
            <h3 class="server-error-msg server-error-bold">Your sesson has expired.</h3>
            <div>
                <p class="server-error-msg server-error-rerular">Your session has expired.</p>
                    <div><span class="hyperlink" ng-click="goHome()">Please click here to log in again.</span></div>
            </div>
        </div>
    </div>
</div>