<div class="privacyDetailContainer">
    <div class="page-head">Privacy Notice</div>
    <div class="privacy-download row text-size-12 text-bold" align="right">
        <div class="download-bar" align="right">
            <div class="pdf-icon"></div>
            <div class="pdf-link"><a target="_blank" href="../../../content/privacy_notice.pdf">Download</a></div>
        </div>
    </div>
    <div class="privacy-block row">
        <div ng-bind-html="privacyContent"></div>
    </div>

    <footer></footer>
</div>