<div class="loading" ng-hide="data_loaded">Loading&#8230;</div>
    <div class="container-fluid">
        <div class="block-content-general">
                <div class="row cls-padding-10">
                <div class="col-sm-8 left-block cls-padding-right-10">
                    <h5><i>LEAD</i></h5>
                   
                    <div class="clearfix"></div>
                </div>            

            </div>  
                    
          
          
        </div>
        <div id="welcomeUserModal" class="modal fade cls-modal-overflow-scroll" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content modal-border-radius-2">
                    <div class="modal-header modal-header-border visible-lg visible-md visible-sm" ng-show="preferenceSet">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <img src="content/images/st.06.close-button.svg" />
                        </button>
                    </div>
                    <div class="modal-body cls-modal-body-welcome">
                        <div class="welcome-modal-hero"></div>
                        <div class="cls-modal-body-welcome-content">
                            <h3 class="cls-margin-bottom-10 cls-margin-top-20" ng-bind-html="AppMessages.Welcome_label_welcome"></h3>
                            <div>
                                <div class="body-copy">Welcome to LEAD</div>
                            </div>

                        </div>
                   
                    </div>


                  
                </div>
            </div>
        </div>

        
        <hr />
          </div>
